.navbar{
  display:flex;
  justify-content: space-between;
  background-color: lemonchiffon;
  padding:0.8rem 1.5rem;
}

.brand-name{
  font-size:2rem;
}

.logout-btn:hover{
  color: rgb(89, 89, 249);
}